.content-section{
    position: relative;
    height: auto;
    height:100%; /* IE6: treaded as min-height*/
    min-height:90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    flex-direction: column;
}

.footer-section {
    bottom:0; /* stick to bottom */
}

.footer-section{
    /* position: absolute; */
    background-color: rgb(12,65,99);
    height: 5vh;
    line-height: 5vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-result-form{
    margin: 2rem 0;
    width: 95%;
}
.searchlist-table{
    width: 100%;
    margin: 0 0 1.5rem 0;
}

input[type=submit]{
    cursor: pointer;
}


.rebtn, input[type=submit]{
    border: 1px #ddd solid;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    background-color: #ccc;
    transition-duration: 0.4s;
}
input[type=submit]{
    width: 50%;
    float: left;
}

input[type=submit]:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  